<div class="container-login">
  <div class="container__row">
    <div class="container__col-sm-12 container__col-md-4 container-form">
      <div class="logo"><img src="../../assets/images/logo-coco-bambu.png"></div>
      <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <input type="text" class="user" size="40" placeholder="Nome de Usuário" formControlName="username" name="username">
        <input type="password" class="pass" size="40" placeholder="Senha" formControlName="password" name="password">
        <button class="login" [disabled]="!loginForm.valid" type="submit">Acessar</button>
        <ng-flash-message></ng-flash-message>
      </form>
    </div>
  </div>
</div>
